# Created from config.ini.example
# Default values assume Carbon theme at 1080p

[Icons]
# Icon Size: 24, 36 or 48
Size = 48
# Icon Color: white or black
Color = white
# Horizontal Position: left or right
Horizontal = right
# Vertical Position: top or bottom
Vertical = bottom
# Padding from corner and between icons
Padding = 8

[Detection]
Wifi = True
Bluetooth = True
Audio = True
BatteryADC = False
BatteryLDO = False
ShutdownGPIO = False

[BatteryLDO]
GPIO = 27
ActiveLow = True

[ShutdownGPIO]
GPIO = 3
ActiveLow = True
