# Created from config.ini.example
# Default values assume Carbon theme at 1080p

[Icons]
# Icon Size: 24, 36 or 48
Size = 48

# Horizontal Position: left or right
Horizontal = right

# Vertical Position: top or bottom
Vertical = bottom

# Padding from corner and between icons
Padding = 8

[Detection]
# Enable WiFi Icon
Wifi = True

# Enable Bluetooth Icon
Bluetooth = True

# Enable Audio Icon
Audio = True

# Enable Battery Voltage Monitoring Via ADC
BatteryADC = False

# Which chip are you using for ADC (Only applies if BatteryADC=True)
# MCP3008
# ADS1015
# PJ (PiJuice or PiJuice Zero)
ADCType = PJ

# Gain for ADC Voltage. Adjust if dividing voltage before ADC input
ADCGain = 1.0

# ADC Channel for ADCs which have multiple channels
ADCChannel = 0

# Change how your battery calculations are made, See Read Me
VMaxDischarging = 4
VMaxCharging = 4.5
VMinDischarging = 3.2
VMinCharging = 4.25

# Should low ADC cause shutdown
ADCShutdown = False

# Do you have a LDO GPIO Pin to Monitor Low Battery
BatteryLDO = False

# Do you have a GPIO Pin you wish to use for shutdown
ShutdownGPIO = False

# Transparency of icons in game
InGameAlpha = 100

# Hide Any Environment Warnings, such as temperature
HideEnvWarnings = False

[BatteryLDO]
GPIO = 27
ActiveLow = True

[ShutdownGPIO]
GPIO = 3
ActiveLow = True
