[Unit]
Description=overlay-daemon

[Service]
Type=simple
WorkingDirectory=/media/usb0/home/pi/retropie_status_overlay
ExecStart=/usr/bin/python3 -u overlay.py
Restart=on-failure
RestartSec=1
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
